border: 2px dotted rgba(191,201,176, 0.50); /* 2px width, dotted style, color same as highlight */
border-radius: 10px; /* Rounded corners, adjust value as needed */
padding: 20px; /* Optional padding to demonstrate the effect */

.see-more{
font-size: 0.85rem;
opacity: 0.5;
white-space: pre;
}

.external-icon {
height: 1ex;
margin: 0 0.15em;

> path {
  fill: var(--dark);
}
}
